@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

#nav {
    color: rgb(255, 255, 255);
    background-color: #19253c;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;
    top: 0;
    transition: top 0.4s ease-in-out;
}

header h2 {
    margin: 10px;
}

.nav-scroller {
    font-size: 15px;
}

main {
    margin: auto;
}

.image-container {
    min-height: 100vh;
}

footer img {
    border-radius: 50%;
    height: 150px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #4da6ff;
}

.row {
    width: 100%;
}

.image-container {
    position: relative;
    height: 650px;
    background-image: url("img/cordocan.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.image-container .text {
    position: relative;
    z-index: 2;
    font-size: 60px;
}

li img {
    height: 140px;
}

.d-lg-block img {
    width: 100%;
}

.cards {
    width: 48%;
    margin: 0px auto 0px auto;
}

.card {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: #19253c;
    width: 80%;
    color: #fff;
    margin: 0px auto 0px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border-bottom: 0.5px solid #DEE2E6;
    text-align: center;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner img {
    object-fit: cover;
}

.router-link-active {
    color: #4da6ff !important;
}

@media (max-width: 768px) {
    .cards {
        width: 100%;
    }
    
    .image-container .text {
        font-size: 40px;
    }
}